.idea
SLIDE-x-CORE/src/slide-x-automation.py
SLIDE-x-AGGR-RESULTS
SLIDE-x-AGGR-RESULTS/KERNEL_DECIMAL
SLIDE-x-AGGR-RESULTS/KERNEL_INT
SLIDE-x-AGGR-RESULTS/POLYBENCH_DECIMAL
SLIDE-x-AGGR-RESULTS/POLYBENCH_INT
SLIDE-x-AGGR-RESULTS/RECIPE_DECIMAL
SLIDE-x-AGGR-RESULTS/RECIPE_INT

